{
  "listeners": {
    "*:18880": {
      "pass": "routes/n2t"
    }
  },
  "applications": {
    "n2t": {
      "type": "python 3.11",
      "working_directory": "{{ deploy_dir }}/n2t",
      "path": [
        "{{ deploy_dir }}/n2t"
      ],
      "home": "{{ python_home }}",
      "module": "n2t.app",
      "callable": "app",
      "environment": {
        "N2T_SETTINGS":"{{ deploy_dir }}/n2t-config.env"
      }
    }
  },
  "routes": {
    "n2t": [
      {
          "match": {
              "uri": "/e/*"
          },
          "action": {
              "return": 301,
              "location": "https://legacy-n2t.n2t.net${request_uri}"
          }
      },
      {
        "match": {
          "uri": [
            "/*"
          ]
        },
        "action": {
          "pass": "applications/n2t"
        }
      }
    ]
  },
  "access_log": {
    "path": "/var/log/unit/access.log",
    "format": "$remote_addr $header_x_forwarded_for - - [$time_local] \"$request_line\" $status $body_bytes_sent \"$header_referer\" \"$header_user_agent\""
  }
}
